<ion-view view-title="Registro Raio-X" >
  <ion-content delegate-handle="content" ng-controller="RegistroRaioXCtrl">
	<form ng-submit="login(user)">
		<div class="list">
			<div class="card" id="anchor-A">
				<div class="item item-divider">
					A
				</div>
				<div class="item item-text-wrap">
					<ion-checkbox ng-model="choice29" ng-value="'A'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice25" ng-value="'B'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice28" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice29" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
					<ion-checkbox ng-model="choice30" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
				</div>
 			</div>
		
			<div class="card" id="anchor-P">
				<div class="item item-divider">
					P
				</div>
				<div class="item item-text-wrap">
					<ion-checkbox ng-model="choice29" ng-value="'A'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice25" ng-value="'B'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice28" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice29" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
					<ion-checkbox ng-model="choice30" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
				</div>
 			</div>

			<div class="card" id="anchor-O">
				<div class="item item-divider">
					O
				</div>
				<div class="item item-text-wrap">
					<ion-checkbox ng-model="choice29" ng-value="'A'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice25" ng-value="'B'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice28" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice29" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
					<ion-checkbox ng-model="choice30" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
				</div>
 			</div>
			
			<div class="card" id="anchor-N">
				<div class="item item-divider">
					N
				</div>
				<div class="item item-text-wrap">
					<ion-checkbox ng-model="choice29" ng-value="'A'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice25" ng-value="'B'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice28" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice29" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
					<ion-checkbox ng-model="choice30" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
				</div>
 			</div>			

			<div class="card" id="anchor-T">
				<div class="item item-divider">
					T
				</div>
				<div class="item item-text-wrap">
					<ion-checkbox ng-model="choice29" ng-value="'A'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice25" ng-value="'B'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice28" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice29" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
					<ion-checkbox ng-model="choice30" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
				</div>	
 			</div>	
			
			<div class="card" id="anchor-E">
				<div class="item item-divider">
					E
				</div>
				<div class="item item-text-wrap">
					<ion-checkbox ng-model="choice29" ng-value="'A'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice25" ng-value="'B'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice28" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>
					<ion-checkbox ng-model="choice29" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
					<ion-checkbox ng-model="choice30" ng-value="'C'">O usuario bla bla bla bla bla confiantemente as coisas mostradas no estalactiete??</ion-checkbox>		
				</div>
 			</div>												
		</div>
		<div class="padding">
			<button type="submit" class="button button-block button-positive">
			<i class="icon"></i>
			Salvar Raio-X
			</button>
		</div>
		<div class="buttons" style="text-align: center">
	            <button ng-click="scrollToAnchorWithinCurrentPage('anchor-A')" id="location-A" class="button button-positive">
	                A 
	            </button>
	            <button ng-click="scrollToAnchorWithinCurrentPage('anchor-P')" id="location-P" class="button button-positive">
	                P
	            </button>
	            <button ng-click="scrollToAnchorWithinCurrentPage('anchor-O')" id="location-O" class="button button-positive">
	                O
	            </button>
	            <button ng-click="scrollToAnchorWithinCurrentPage('anchor-N')" id="location-N" class="button button-positive">
	                N
	            </button>
	            <button ng-click="scrollToAnchorWithinCurrentPage('anchor-T')" id="location-T" class="button button-positive">
	                T
	            </button>
	            <button ng-click="scrollToAnchorWithinCurrentPage('anchor-E')" id="location-E" class="button button-positive">
	                E
	            </button>
	 		<div class="buttons" style="text-align: center">
	            <button class="button button-royal">
	                99
	            </button>
	            <button class="button button-royal">
	                55
	            </button>
	            <button class="button button-royal">
	                88
	            </button>
	            <button class="button button-royal">
	                78
	            </button>
	            <button class="button button-royal">
	                99
	            </button>
	            <button class="button button-royal">
	                55
	            </button>            
	        </div>
	</form>    
  </ion-content>
</ion-view>

